body {
    margin: 0;
    background-color: #2b124c;
}
.topo {
    width: 120%;
    height: 600px;
    background: #6a4d9a; 
    
    border-bottom-left-radius: 50% 100%;
    border-bottom-right-radius: 50% 100%;
}