body {
  margin: 0;
  height: 100vh;
  background:#2b124c;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial, sans-serif;
}

.container {
  text-align: center;
  color: white;
  max-width: 500px;
}
.wave {
  position: absolute;
  top: 0;
  width: 100%;
  height: 60%;
  background: #7b61ff;
  border-bottom-left-radius: 50% 20%;
  border-bottom-right-radius: 50% 20%;
  z-index: -1;
}